//- extends layout

//- include mixins/_storeCard
//- include mixins/_pagination

//- block content

style.
  .teams {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

.inner
  h2 Matchup:&nbsp;
    span #{matchup.home}
    span &nbsp;vs&nbsp;
    span #{matchup.away}
  h4 Week #{matchup.week}


.teams
  each team in teams
    .team
      h2 Stats for Week #{matchup.week} for #{team.ownerId}
      div total fantasy points #{team.teamTotal}
      ul
        each position in team.positions
          li
            h3= position._id
            ul
              each player in position.players
                li
                  if player.position != 'DST'
                    img(src=`/graphics/players/${player.esbId}.png` alt="")
                  h4 #{player.teamId}
                  h4 #{player.displayName} #{player.position} #{player.teamAbbr}
                  if player.game
                    div #{player.game.visitorDisplayName} @ #{player.game.homeDisplayName}
                  else
                    div BYE
                  if player.statline
                    if player.best
                      div BEST
                    if player.position === "DST"
                      div #{player.statline.sacks} sacks
                      div #{player.statline.fumbles} fumbles
                      div #{player.statline.ints} ints
                      div #{player.statline.safeties} safeties
                      div #{player.statline.TDs} TDs
                      div #{player.statline.pointsAllowed} pointsAllowed
                    else
                      p
                        if player.statline.passingAttempts
                          div #{player.statline.passingCompletions}/#{player.statline.passingAttempts} for #{player.statline.passingYards} yards, #{player.statline.passingTDs} TDs, #{player.statline.passingInts} Ints
                          if player.statline.passingTwoPts
                            div #{player.statline.passingTwoPts} Two Point Conversions
                        if player.statline.rushingAttempts
                          div #{player.statline.rushingAttempts} rushes for #{player.statline.rushingYards} yards, #{player.statline.rushingTDs} TDs
                          if player.statline.rushingTwoPts
                            div #{player.statline.rushingTwoPts} Two Point Conversions
                        if player.statline.receivingReceptions
                          div #{player.statline.receivingReceptions} receptions for #{player.statline.receivingYards} yards, #{player.statline.receivingTDs} TDs
                          if player.statline.receivingTwoPts
                            div #{player.statline.receivingTwoPts} Two Point Conversions
                        if player.statline.fumbles
                          div #{player.statline.fumbles} Fumbles
                    h6 FANTASY POINTS #{player.fantasyPoints}
                  else
                    h6 YET TO PLAY
