//- extends layout

//- block content
.inner
  h2= player.displayName
  div team:
    a(href=`/team/${player.teamAbbr}`)= player.teamAbbr
  img(src=`/graphics/players/${player.esbId}.png` alt="")
  dl
    dt season
    dd= player.season
    dt nflId
    dd= player.nflId
    dt status
    dd= player.status
    dt displayName
    dd= player.displayName
    dt firstName
    dd= player.firstName
    dt lastName
    dd= player.lastName
    dt esbId
    dd= player.esbId
    dt gsisId
    dd= player.gsisId
    dt middleName
    dd= player.middleName
    dt birthDate
    dd= player.birthDate
    dt homeTown
    dd= player.homeTown
    dt collegeId
    dd= player.collegeId
    dt collegeName
    dd= player.collegeName
    dt positionGroup
    dd= player.positionGroup
    dt position
    dd= player.position
    dt jerseyNumber
    dd= player.jerseyNumber
    dt height
    dd= player.height
    dt weight
    dd= player.weight
    dt yearsOfExperience
    dd= player.yearsOfExperience
    dt teamAbbr
    dd= player.teamAbbr
    dt teamSeq
    dd= player.teamSeq
    dt teamId
    dd= player.teamId
    dt teamFullName
    dd= player.teamFullName
